#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define USE_EDUROAM true

#define EAP_IDENTITY "username@ntnu.no"
#define EAP_USERNAME "username@ntnu.no"
#define EAP_PASSWORD "your_password"

#define AP_SSID "BioSat-Bridge-AP"
#define AP_PASS "orbitntnu"

#endif
